* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #5f5f5f;
  line-height: 1.5;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-image: linear-gradient(90deg, #fff 73%, #00cd6b 73%),
    url(./imgs/Lets\ donate\ hero.jpg);
  background-position: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-box {
  width: 5%;
}
.logo-box img {
  width: 100%;
}

.nav-list {
  display: flex;
  gap: 50px;
  list-style: none;
}
.nav-list a {
  color: #5f5f5f;
  text-decoration: none;
  display: inline-block;
}
.nav-list a:hover {
  color: #00cd6b;
  font-weight: 700;
  transition: all 0.2s;
}
.nav-list a:active,
.nav-list a:focus {
  color: #00cd6b;
  font-weight: 700;
}
.nav-list a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #00cd6b;
  transition: all 0.4s;
}
.nav-list a:hover::after {
  width: 100%;
  color: red;
}

.header-btns {
  display: flex;
  gap: 40px;
  align-items: center;
  z-index: 999;
}
.header-btns a {
  text-decoration: none;
}

.login-btn {
  outline: 1px solid #00cd6b;
  color: #3a3a3a;
  background: #fff;
  text-align: center;
  padding: 12px 25px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.1);
}
.login-btn:hover {
  font-weight: 700;
  background-color: #FFF;
  color: #00cd6b;
  outline: none;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
  transform: scale(1.1) translateY(-2px);
  transition: all 0.3s;
}
.login-btn:active {
  transform: translateY(-2px);
}
.login-btn:hover::after {
  transform: scale(1.4) scaleY(1.6);
}

.signup-btn {
  background-color: #00cd6b;
  outline: 1px solid #fff;
  color: #fff;
  text-align: center;
  padding: 12px 25px;
  border-radius: 10px;
}
.signup-btn:hover {
  font-weight: 700;
  padding: 12px 25px;
  background-color: #FFF;
  color: #00cd6b;
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform: scale(1.1) translateY(-2px);
  transition: all 0.2s;
}
.signup-btn:active {
  transform: translateY(-2px);
}
.signup-btn:hover::after {
  transform: scale(1.4) scaleY(1.6);
}

.top-section {
  background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 73%,
      #00cd6b 73%
    ),
    url(./imgs/Lets\ donate\ hero.jpg);
  background-position: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
.homepage {
  padding: 80px 60px;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.homepage-left {
  width: 45%;
  display: grid;
  gap: 40px;
}
.homepage-header-text {
  font-family: "Frank Ruhl Libre", serif;
  color: #3a3a3a;
  font-size: 48px;
  font-weight: 500;
}
.red-text {
  color: #ff1414;
}
.green-text {
  color: #00cd6b;
}
.homepage-info-text {
  color: #3a3a3a;
}
.homepage-btns {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage-btns a {
  text-decoration: none;
}
.homepage-donate-btn {
  background-color: red;
  padding: 15px 25px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease-in-out;
}
.homepage-donate-btn:hover {
  font-weight: 700;
  background-color: rgb(189, 15, 15);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transform: scale(1) translateY(-2px);
}
.homepage-donate-btn:active {
  background-color: rgb(189, 15, 15);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}
.homepage-donate-btn:focus {
  font-weight: 700;
}
.homepage-donate-btn:hover::after {
  transform: scale(1.1) scaleY(1.1);
  /* opacity: 0; */
}
.more-info-btn {
  font-size: 16px;
  color: #00cd6b;
  height: 30px;
  text-decoration: none;
  border-bottom: 1px solid #00cd6b;
  padding: 3px;
  transition: all 0.2s;
}
.more-info-btn:hover {
  background-color: #00cd6b;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.more-info-btn:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}
.more-info-btn:focus {
  font-weight: 700;
}

.homepage-right {
  /* background: url("./imgs/Child\ fund\ guy.png") center; */
  /* background-size: cover; */
  /* width: 25%; */
  height: 75vh;
  width: 45%;
}

.homepage-right::after {
  content: "";
  width: 25%;
  height: 45.6rem;
  background: url("./imgs/Child\ fund\ guy.png") center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -3.2rem;
  right: 14rem;
}

.sponsors {
  background-color: #f6f3f3;
  padding: 20px;
}
.sponsor-imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

img {
  width: 100%;
}
.sponsor-imgs > div {
  width: 15%;
}
.sponsor-imgs > .first-health-div {
  width: 18%;
}
.sponsor-imgs > .unicef-div {
  width: 11%;
}
.sponsor-imgs > .lovato-div {
  width: 17%;
  margin: 0 0 0 2rem;
}